header{
    padding: 60px;
    text-align: center;
    background-image: url("../img/banner-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;


}

header h1{
    font-size: 35px;
    margin: 0 0 10px;
    
}
header p{
    margin: 0 0 10px;
}
header div{
    background-color: #112f4179;
    padding: 10px;
    border-radius: 12px;
    font-size: 19px;
    color: whitesmoke;
}